:root {
    --primary: #423F8D;
    --secondary: #fd7e14;
    --paragraf: #727b95;
    --bg: #fff;
    --bgnav: rgba(208, 157, 223, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Josefin Sans";
    background-color: var(--bg);
    color: var(--primary);
}

body p {
    font-family: 'Roboto', sans-serif;
    color: var(--paragraf);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 12% 0.4rem;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

header .navbar .navbar-nav a {
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

header .navbar .navbar-nav a:hover {
    color: var(--secondary);
}

header .navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--secondary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

header .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.9);
}

header .navbar-extra a {
    color: var(--primary);
    margin: 0 0.5rem;
}

header .navbar-extra a:hover {
    color: var(--secondary);
}

#hamburger-menu {
    display: none;
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("/image/hero-img.png.webp");
    background-repeat: no-repeat;
    background-size: 60rem;
    background-position: right;
    background-position-x: 120%;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    /* background: linear-gradient(8deg,  rgba(208, 157, 223, 1) 3%, rgba(255, 255, 255, 1) 25%); */
}

.hero .content {
    padding: 2rem 12%;
    max-width: 60rem;
    transition: 0.4s ease;
}

.hero .content h1 {
    font-size: 4em;
    text-shadow: 1px 1px 3px rgba(208, 157, 223, 0.5);
    line-height: 1.2;
}

.hero .content p {
    font-size: 1.2rem;
    margin: 1rem 0;
    line-height: 1.8rem;
    text-shadow: 1px 1px 3px rgba(208, 157, 223, 0.5);
    color: var(--primary);
}

.cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: var(--bg);
    background-color: var(--secondary);
    border-radius: 3rem;
    /* box-shadow: 1px 1px 3px #f3ad3e; */
    background: linear-gradient(to bottom, #fd7e14, #f3ad3e);
}

.cta:hover {
    color: var(--primary);
    background: linear-gradient(to bottom, #7bbaea, #b6edf1);
}

.about, .service, .contact {
    padding: 8rem 7% 1.4rem;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about p, .service p, .contact p {
    font-size: 1.1rem;
    margin: 0 20rem 2rem;
    line-height: 1.8rem;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    
    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 6rem;
    position: relative;
}

.logos::before,
.logos::after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: '';
    z-index: 2;
}

.logos::before {
    left: 0;    
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
}

.logos::after {
    right: 0;    
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
}

.logos:hover .logo-slide {
    animation-play-state: paused;
}

.logo-slide {
    display: inline-block;
    animation: 15s slide infinite linear;
}

.logo-slide img {
    height: 3rem;
    margin: 2rem 4rem;
}

.about2 {
    display: flex;
    margin: 5rem 10rem;
    justify-content: center;
}

.about2 .img-about {
    flex: 1 1 45rem;
}

.about2 .img-about img {
    width: 80%;
}

.about2 .caption-about {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about2 .caption-about h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 4rem;
}

.about2 .caption-about p {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.service h2, .contact h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.row .card {
    display: flex;
    text-align: justify;
    max-width: 35rem;
    padding: 2rem 1rem;
    margin: 1rem;
    border-radius: 0.3rem;
    border-color: var(--bg);
    box-shadow: 1px 2px 3px var(--paragraf);
    justify-content: center;
}

.row .card .description {
    margin: 0 1.5rem ;
}

.row .card .description h3 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.row .card .description p {
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
}

.icon {
    padding: 0.5rem 0.7rem;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service h2 {
    font-size: 5rem;
}

.contact .row-contact {
    margin-top: 2rem;
}

.contact .row-contact .map {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.contact .row-contact .contact-us form {
    padding: 5rem 2rem;
    text-align: center;
    flex : 1 1 45rem
}

.contact .row-contact .contact-us form .input-group {
    display: flex;
    align-items: center;
    margin: 2rem;
    padding: 0 1rem;
    border: 1px solid var(--paragraf);
    border-radius: 1rem;
}

.contact .row-contact .contact-us form .input-group input {
    width: 30rem;
    padding: 2rem;
    font-size: 1.7rem;

}

.contact .row-contact .contact-us form .input-group i {
    padding: 2rem 6rem;
    margin: 1rem 4rem;
}

button {
    cursor: pointer;
}

.contact .row-contact .contact-us {
    display: flex;
    justify-content: center;
    margin: 0;
}

.contact .row-contact .contact-us aside .expo-aside,
.contact .row-contact .contact-us aside .address .capt-address,
.contact .row-contact .contact-us aside .address .capt-address p {
    margin: 0;
    padding: 0;
}

.contact .row-contact .contact-us aside {
    flex: 4 4 45rem;
    /* border: 1px solid var(--paragraf); */
    margin: 7rem 0;
    width: 20rem;
    height: min-content;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
    box-shadow: 1px 2px 3px var(--paragraf);
}

.contact .row-contact .contact-us aside img {
    height: 4rem;
    margin: 2rem;
}

.contact .row-contact .contact-us aside .address {
    display: flex;
    text-align: left;
    margin: 2rem;
}

.contact .row-contact .contact-us aside .address .capt-address {
    margin: 0 2rem;
}

.contact .row-contact .contact-us aside .address .capt-address h5 {
    font-size: 1.4rem;
}

.contact .row-contact .contact-us aside .address 
.contact .row-contact .contact-us aside p.expo-aside{
    padding: 0 2rem;
    margin-bottom: 2rem;
}

footer {
    background-color: var(--bgnav);
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;

}

footer .socials {
    padding: 1rem 0;
}

footer .socials a {
    color: var(--primary);
    margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
    color: var(--secondary);
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: var(--primary);
    padding: 0.7rem 1rem;
}

footer .credit {
    font-size: 0.9rem;
}

footer .credit a {
    color: black;
    font-weight: bold;
}

/* responsif */

/* laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    header .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--bgnav);
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    header .navbar .navbar-nav.active {
        right: 0;
    }

    header .navbar .navbar-nav a {
        color: var(--primary);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    header .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    header .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .hero {
        background-size: 45rem;
        background-position-x: 120%;
    }

    .hero .content p {
        font-size: 1.6rem;
    }

    .logo-slide img {
        height: 4rem;
        margin: 2rem 4rem;
    }

    p {
        letter-spacing: 0.05rem;
    }

    .about h2 {
        font-size: 3rem;
    }

    .about p {
        font-size: 1.6rem;
        margin: 2rem 8rem;
    }

    .about2 {
        flex-wrap: wrap;
    }

    .about2 .caption-about {
        margin: 6rem 2rem;
        padding: 0;
    }

    .about2 .caption-about h2 {
        margin-top: 1rem;
        font-size: 3rem;
    }

    .about2 .caption-about p {
        font-size: 1.6rem;
    }

    .about2 .img-about img {
        width: auto;
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .contact p, .service p {
        margin: 0;
        font-size: 1.5rem;
    }

    .contact .row-contact .contact-us {
        flex-wrap: wrap;
    }
   
}

/* mobile */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

    .hero {
        background-image: url('/image/hero-shape.png.webp');
        background-size: 50rem;
        background-position: center;
    }

    .hero::after {
        margin: 0;
        height: 0;
    }

    p {
        letter-spacing: 0.05rem;
    }

    .about h2 {
        font-size: 3rem;
    }

    .about p {
        font-size: 1.5rem;
        margin: 2rem 3rem;
        line-height: 2rem;
    }

    .logos {
        margin: 0;
        position: relative;
    }

    .logos::before {
        background: none
    }
    
    .logos::after {
        background: none;
    }

    .service p, .price p {
        font-size: 1.1rem;
        margin: 0;
    }

}